.record-page {
  width: 30% !important;
  margin: auto !important;
  .heading,
  .sub-heading {
    text-align: center !important;
  }

  .copy-btn {
    margin: 0px 0.2em !important;
  }

  .form-row {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-direction: column !important;

    label {
      margin: 0.4em 0px;
      padding: 0.4em 0px;
      font-size: 0.8em !important;
      color: #a5b0af !important;
    }

    .input-group {
      background-color: #fff;
      border-radius: 0.25rem !important;

      .icon {
        // fill: #65b67f !important;
        height: 100%;
        margin: auto 0.6em;
        path,
        line {
          // fill: #65b67f !important;
          color: #65b67f !important;
        }
      }
      .input {
        font-size: 1.1em;
        padding: 0.4em;
        box-sizing: border-box !important;
        border: none;
      }
      .input:focus {
        outline: none !important;
        box-shadow: none !important;
      }

      .eye-icon-div {
        cursor: pointer;
        color: #000;
        display: flex;
        align-items: center;
        padding: 0.4em;
      }
    }
  }

  .generate-pass-div {
    text-align: right;
    // padding: 0px 0px 0px 1em;

    .generate-text {
      cursor: pointer;
      color: #65b67f;
      font-weight: 500;
      text-transform: uppercase;
    }
    .generate-text:hover {
      text-decoration: underline;
    }
  }

  .button-row {
    width: 100% !important;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    margin: 1.4em 0px;

    button {
      width: 50% !important;
      padding: 0.6em 0px;
      margin: 0px !important;
      font-size: 1.2em !important;
    }
    button:hover {
      box-shadow: 0px 0px 6px #fff;
    }
    button:first-of-type {
      margin-right: 0.6em !important;
    }
    #cancel {
      background-color: rgb(96, 96, 96) !important;
    }
  }
}

.generate-modal {
  .modal-content {
    background-color: #fff;
    color: #000;
  }
}
