$deep-dark: #181818;
$faint-dark: #212121;
$primary-color: #65b67f;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $deep-dark;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: $primary-color !important;
  color: #fff !important;
  padding: 0.4em;
  text-decoration: none !important;
  font-size: 1em;
  border: none !important;
  border-radius: 0.4em !important;
  margin: 1em;
  cursor: pointer;
}

.heading {
  text-align: center;
  margin-top: 0.4em !important;
}
.color-green {
  color: $primary-color !important;
}

.about-me {
  text-align: center !important;
  margin: 1em auto;
  color: #fff !important;
  a {
    color: #fff !important;
    margin: auto 0.2em;
    text-decoration: none !important;
  }
  a:hover {
    color: $primary-color !important;
  }
}
